/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#loadingMessage {
    display: none; /* Inicialmente escondido */
    font-size: 1.2em;
    color: #555;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 200px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}
